Practise-Dotnet-Application/.vs/Practise-Dotnet-Application/FileContentIndex/3f1d7d1b-83f8-4c8f-955c-ed9c91f44f1c.vsidx
/Practise-Dotnet-Application/.vs/Practise-Dotnet-Application/FileContentIndex/a5f80b62-4364-4a88-8497-9a72a82399ad.vsidx
/Practise-Dotnet-Application/.vs/Practise-Dotnet-Application/FileContentIndex/fa32941b-db80-4b4b-9c43-ee1b131fedc5.vsidx
